Nombre: Braian Catriel
Apellido: Gatto
División: Lunes (noche)
Fecha: {{ ansible_date_time.date }}
------------------------------
Distribución: {{ ansible_distribution }}
Cantidad de Cores: {{ ansible_processor_vcpus }}
